<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
</head>
<body>
    <h1>dashboard Page</h1>
    <h2> Welcome {{name}}</h2>
    {% comment %} <input type="button" value="add"> <br>
    <input type="button" value="edit"><br> {% endcomment %}
    {% if perms.enroll.delete_blog %}
        <input type="button" value="Delete">
    {% else %}
        <h4>No delete permission</h4>
    {% endif %}

    {% comment %} <input type="button" value="view"><br> {% endcomment %}

</body>
</html>