{% extends 'app/base.html' %}
{% load static %}
{% block title %}Ticket History{% endblock title %}
{% block main-content %}
<style>
    .card-img {
        width: 200px; /* Set the width */
        height: 200px; /* Set the height */
        object-fit: cover; /* Maintain aspect ratio and cover the entire area */
    }
</style>
<div class="container my-5">
    <h3>Welcome {{ request.user }}</h3>
    <div class="row mt-4">
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'orders' %}" class="btn btn-primary">Ticket History</a></li>
            </ul>
        </div>
        <div class="col-sm-10">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for order in ticket_history %}
                
                <div class="col">
                    <div class="card h-100">
                        <div class="row g-0">
                          {% if order.status == 'Booked' %}
                          <a href="{% url 'generate_ticket_pdf' order.id %}" class="btn btn-danger">Download Ticket PDF</a>
                          {% endif %}

                            <div class="row row-md-6 justify-content-center">
                                <div class="col-md-auto">

                                    <img src="{{ order.product.product_image.url }}" alt="" class="img-fluid card-img">
                                </div>
                            </div>
                            
                                
                            <div class="table-responsive">
                                <table class="table table-striped">
                                  <tbody>
                                    <tr>
                                      <th>Movie Title</th>
                                      <td>{{ order.product.titlee }}</td>
                                    </tr>
                                    <tr>
                                      <th>Tickets</th>
                                      <td>{{ order.quantity }}</td>
                                    </tr>
                                    <tr>
                                      <th>Price (per ticket)</th>
                                      <td>{{ order.product.discounted_price }}</td>
                                    </tr>
                                    <tr>
                                      <th>Order date</th>
                                      <td>{{ order.ordered_date }}</td>
                                    </tr>
                                    <tr>
                                      <th>Theater</th>
                                      <td>{{ order.product.theater_name }}</td>
                                    </tr>
                                    <tr>
                                      <th>Address</th>
                                      <td>{{ order.product.address }}</td>
                                    </tr>
                                    <tr>
                                      <th>Show Time</th>
                                      <td>{{ order.product.show_time }}</td>
                                    </tr>
                                    <tr>
                                      <th>Booking Date&Time</th>
                                      <td>{{ order.ordered_date }}</td>
                                    </tr>
                                    <tr>
                                      <th>Status</th>
                                      <td>
                                        {% if order.status == 'Pending' %}
                                        <div class="alert alert-warning" role="alert">Booking Pending</div>
                                        {% elif order.status == 'Booked' %}
                                        <div class="alert alert-success" role="alert">Ticket Booked</div>
                                        {% else %}
                                        <div class="alert alert-info" role="alert">{{ order.status }}</div>
                                        {% endif %}
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              
                            
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
