{% extends "blog/base.html" %}
{% load static %}

{% block content %} 
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum enim error tempore ex reiciendis praesentium eaque veniam dolorem, cupiditate tempora facilis eos quas veritatis quaerat maiores nam. Eaque provident non rem! Omnis ex doloremque eius quisquam! Libero excepturi velit quisquam blanditiis? Magnam quisquam ut necessitatibus nulla repellat debitis dolorem molestias?</p>
    <p>       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore repudiandae exercitationem consectetur, eveniet voluptatem distinctio nihil quaerat corporis. Doloribus consequatur quae fugit, sapiente earum enim fugiat labore, nihil officiis possimus doloremque beatae odio voluptatum, nisi eligendi recusandae. Magni voluptatem est atque maiores deserunt inventore? Reiciendis excepturi aut suscipit repellendus repellat aperiam consectetur doloribus a dolore eos obcaecati voluptate odit perspiciatis eaque, quo nostrum error itaque illum. Neque labore, cumque cum, ea hic eum voluptatum nulla vero laboriosam enim maiores natus.
    </p>
    

{% endblock content %}